# NOAA NWS API Configuration
USER_AGENT=your-email@example.com

# DOT API Configuration
DOT_API_KEY=your_dot_api_key_here

# Storage Paths
RAW_DATA_PATH=data/raw
PROCESSED_DATA_PATH=data/processed

# Regional Filter (Continental US to ensure High Volume)
LAT_MIN=24.396308
LAT_MAX=49.384358
LON_MIN=-125.000000
LON_MAX=-66.934570
